@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


.App {
  font-family: 'Barlow', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  /* background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  display: block;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(255, 139, 57);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.app-head {
  margin-top: 50px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  font-style: italic;
}

.weather-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.weather-data p {
  font-size: 18px;
  margin: 10px;
}

p.error {
  color: red;
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}

/* hdfgd */
.weather-card {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #ec6681;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.card-head,
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.weather-temp {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.weather-details {
  width: 100%;
  padding-left: 20px;
}

.parameters {
  display: flex;
  justify-content: space-between;
}

.param-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.param-val {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}